packages:
  yum:
    git: []
    libtiff-devel: []
    libjpeg-devel: []
    libzip-devel: []
    freetype-devel: []
    postgresql94-devel: []
    gdal: []
    gdal-python: []
    geos: []
    proj: []
    libmemcached: []
    libmemcached-devel: []
    cyrus-sasl-devel: []
    zlib-devel: []

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "mozio.settings"
    "PYTHONPATH": "/opt/python/current/app/mozio:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: mozio/mozio/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "/static/"